<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.start.token.model.dao.TokenMapper">

	<insert id="saveToken">
		INSERT 
		  INTO TB_BOOT_TOKEN
		VALUES (
			   #{token}
			 , #{memberNo}
			 , #{expiration}
			   )
	</insert>
	
	<delete id="deleteExpiredRefreshToken">
		DELETE 
		  FROM TB_BOOT_TOKEN
		 WHERE EXPIRATION <![CDATA[<]]> #{now}
	</delete>
	
	<select id="findByToken">
		SLELCT TOKEN
			 , MEMBER_NO 	AS memberNo
			 , EXPIRATION
		  FROM TB_BOOT_TOKEN
		 WHERE TOKEN = #{token}
	</select>
	
</mapper>
